.NewDishForm {
  padding: 30px;
}

.NewDishForm .Form {
  width: 100%;
}

.NewDishForm .FormRow {
  margin: 10px 0;
}

.NewDishForm .FormRow-buttons {
  padding-top: 20px;
  text-align: center;
}

.NewDishForm .LabelName {
  width: 50px;
  display: inline-block;
  text-align: right;
  margin-right: 10px;
}

.NewDishForm .FormRow input {
  width: calc(100% - 65px);
  padding: 3px;
  border: 1px solid #777;
  border-radius: 3px;
  box-shadow: 0 0 1px 1px rgba(50,50,50,0.2);
}

.NewDishForm .FormRow input:focus {
  box-shadow: 0 0 2px 2px rgba(50,50,50,0.5);
}