.DishItem {
  width: 90%;
  margin: 10px auto;
  padding: 10px 20px;
  border: 1px solid #777;
  border-radius: 5px;
  box-shadow: 0 2px 2px 2px rgba(50,50,50,0.3);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.DishItem .DishImage {
  width: 120px;
  height: 80px;
  margin-right: 30px;
  border-radius: 4px;
  box-shadow: 0 0 10px 1px rgba(50,50,50,0.15);
  overflow: hidden;
}

.DishItem .DishImage img {
  width: 100%;
  height: 100%;
}

.DishItem .DishInfo {
  flex: 3;
}

.DishItem .DishName {
  margin-bottom: 10px;
  font-size: 20px;
  font-weight: bold;
  display: block;
}

.DishItem .DishCost {
  font-size: 18px;
  font-style: italic;
  display: block;
}

.DishItem .DishControls {
  margin-left: 20px;
}

.DishItem .DishControls span {
  margin: 0 10px;
  font-size: 14px;
  font-weight: bold;
  text-decoration: underline;
  cursor: pointer;
}

.DishItem .DishControls .Edit {
  color: blue;
}

.DishItem .DishControls .Delete {
  color: red;
}